@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* background-color: rgb(22, 14, 42); */
  background-color: #020016;
  color: white;
  overflow-x: hidden;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
